.hero-section {
  
  width: calc(100vw - 3rem);
  padding: 0 1rem 0 4rem;
  margin: 0;
  background-color: #151515;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.name-wrapper {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  padding-top: 0; /* Remove top padding */
  margin-top: 0; /* Remove top margin */
}

.profile-image {
  width: 10rem; /* Match width to group */
  height: 10rem; /* Maintain aspect ratio */
  object-fit: fill !important;
  border-radius: 2rem !important;
}

