.hero-section {
  min-height: 100vh;
  width: 100%;
  padding: 0 4rem;
  background-color: #151515;
  margin-right: 80px; /* Space for navbar */

  overflow: hidden;
}

.content-wrapper {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.name-wrapper {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.name-text {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}