/* .navbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  background: rgba(21, 21, 21, 0.9);
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
} */
.navbar {
  width: 80px;
  height: 750px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.social-links {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}